<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>easyFood | Healthy, Rapide & Gourmand</title>
    <link rel="stylesheet" href="../../../styles/homePage.css">
</head>
<body>
<header>
    <!--TODO LOGO--><img src="">
    <nav>
    </nav>
    <h1>EasyFood</h1>
</header>
<main>
    <button id="btn-addNewRecipe" ><a href="../addNewRecipe/index.html">Ajouter une recette</a></button>
    <button id="btn-checkRecipe" ><a href="../checkRecipe/index.html">Ajouter une recette</a></button>
</main>
<footer>
</footer>
</body>
</html>